*.pbxuser
**/xcuserdata
screenshots/html/*/0*.png
screenshots/results/
build/
dist/
tmp/
l10n/
default.profraw
.build
.swiftpm
*.storekit
.sqlite-*
.dmg*
PartoutNative.xcframework
fastlane/README.md
fastlane/report.xml
fastlane/**/*.html
fastlane/**/test_output
fastlane/**/review_information
fastlane/**/trade_representative_contact_information
