# Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Ephemeral native platform folders (generated at build time)
android/
ios/
web/
linux/
windows/
macos/
tizen/
elinux/
webos/
tvos/

# Environment
.env
.env.local

# Generated
lib/dartvel_client/
.dartvel/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
/lib/dartvel_client/
/.dartvel/
/.dart_tool/dartvel_backend.g.dart
/.dart_tool/dartvel_backend_routes.g.dart
