name: Full Tests

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  all_tests:
    name: All tests
    runs-on: macos-26
    timeout-minutes: 15
    steps:
      - uses: partout-io/action-prepare-xcode-build@master
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: api/package-lock.json
      - name: Run shared tests
        run: |
          ci/run-shared-tests.sh
      - name: Run Apple tests
        run: |
          ci/run-apple-tests.sh
      - name: Run Partout tests
        run: |
          ci/run-partout-tests.sh
      - name: Run API tests
        working-directory: ./api
        run: |
          npm ci
          npm test
